PORT=3001
# Secret key de reCAPTCHA para sfisionatur.com (sin www)
RECAPTCHA_SECRET_KEY=6Ld12fEsAAAAAJwPmXjpDozgcxivBvvDGGZ8ljgd
# Secret key de reCAPTCHA para www.sfisionatur.com
RECAPTCHA_SECRET_KEY_WWW=6LdR2vEsAAAAAELsFiG9IB9FzF6HRlowDbM507fw
CORS_ORIGIN=http://127.0.0.1:5500

# Google Calendar API
GOOGLE_CLIENT_ID=TU_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=TU_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=http://localhost:3001/api/google-calendar/callback

# WhatsApp Business API
WHATSAPP_API_TOKEN=TU_WHATSAPP_API_TOKEN
WHATSAPP_PHONE_ID=TU_WHATSAPP_PHONE_ID
WHATSAPP_WEBHOOK_VERIFY_TOKEN=sfisionatur_verify_2024